<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <%= stylesheet_link_tag 'application.css' %>

  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <div class = "text-center">
            <h1>curate</h1>
            <p>The future of men's fashion</p>
            <%= form_for(@email) do |f| %>
              <%= f.text_field :email, :placeholder => "example@example.com", :size => "35"%>
              <%=f.submit "Get Early Access"%>
            <%end%>
        </div>
      </div>
    </div> 

    <div class="learn-more">
    <div class="container">

      <div class="col-md-8">
          <dl>
        <dt>Who we are</dt>
        <dd>We are team of futurists who believe that dope style can be distilled and personally tailored through advanced analytics. We will make you reconsider the boundaries of men’s fashion.<br><br>
        Look, aren’t you fucking tired of being told what to wear by billboards featuring a Justin Bieber in some goddamned tighty-whites? Curate can help you wear what you want and look damn good doing it.</dd>
          
        
        <dt>How we do what we do</dt>
        <dd>Using our proprietary algorithmic process, we can digitize 80% of your wearable wardrobe in under 5 minutes. You don’t have to take a single picture.<br><br>
        Once your wardrobe is digitized, you’re ready to Curate. Merely select the piece of clothing you want to be the base of your outfit. Our algorithms will do the rest.<br><br>
        Don’t believe us? Try it for yourself.</dd>
        </dl>
      </div>

      <div class="col-md-4">
          <%= image_tag "iPhone.png", alt:"curateiphone.png", width: "300", height: "580"%>
      </div>

    </div>
  </div>
  </body>
</html>