<footer>
  <div class="container-left">
    <ul class="footer-list">
      <li class="footer-list-item"><%= link_to "BLOG","#"%></li>
      <li class="footer-list-item"><%= link_to "FAQS", "#"%></li>
      <li class="footer-list-item"><%= link_to "PRESS & MEDIA", "#"%></li>
      <li class="footer-list-item"><%= link_to "ABOUT US", about_path%></li>
      <li class="footer-list-item"><%= link_to "CAREERS", "#"%></li>
      <li class="footer-list-item"><%= link_to "CONTACT", "#"%></li>
    </ul>
  </div>
  <div class="container-right">
    <a href="#">Terms & Privacy Policy</a>
    © Curate Analytics, Inc. 2015
  </div>
</footer>