<nav>
  <!-- icon -->
  <%= image_tag "curateanalytics.png", width: "200"%></a>
  <!-- about company-->
  <%= link_to "About Us", about_path%>
  <!-- Work -->
  <%= link_to "How It Works", work_path%>
  <!-- signin -->
  <% if !current_user %>
      <a href="/auth/facebook"><%= image_tag "facebook.png", width: "200"%></a>
    <% else %>
      <%= link_to "Welcome back, #{current_user.name.split(" ")[0]}!", wardrobe_index_path%>
    <%end%>
</nav>